@import 'variables', 'utils';
@import 'pygments', 'lib/font-awesome/font-awesome';

@import '_atoms/code';
@import '_atoms/buttons';
@import '_atoms/headings';


* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: #111215;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: $BASE_FONT * 1px;
    line-height: (18/$BASE_FONT);
}

.wrapper {
    width: 80%;
    margin: em(20) auto;
}
.content {
    width: 80%;
    float: right;
}
.menu {
    width: 18%;
    float: left;
    background: #efefef;
    padding: 3px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border: 1px solid #d8d8d8;
    }

    a {
        display: block;
        background: #fafafb;
        text-decoration: none;
        padding: 5px;
        margin-bottom: 1px;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        color: #333;

        &:hover,
        &:focus {
            background: white;
        }
    }
    li:last-child a {
        border-bottom: none;
        margin-bottom: 0;
    }
    .active a {
        background: white;
        border-left: 3px solid $C_HIGHLIGHT;
    }
}

h1,
p {
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5;
    font-weight: bold;
}

.styleguide-element {
    margin-bottom: em(20);
    padding: em(20);
    border-bottom: 1px solid #ddd;
}