{#

    <h2 class="label">Default</h2>

    <div class="item">
        <input type="submit" id="submitbtn" value="Log In" class="btn btn-primary" />
        <input type="button" id="submitbtn" value="Log In" class="btn btn-primary" />
        <a href="#" class="btn btn-primary">Log In</a>
    </div>

    <h2 class="label">Secondary</h2>

    <div class="item">
        <input type="submit" id="" value="Cancel" class="btn btn-secondary" />
        <input type="button" id="" value="Cancel" class="btn btn-secondary" />
        <a href="#" class="btn btn-secondary">CANCEL ME</a>
    </div>

    <h2 class="label">Icon Buttons</h2>

    <div class="item">
        <input type="submit" id="" value="Save connection and test" class="btn btn-icon btn-test-01" />
        <input type="button" id="" value="Save connection and test" class="btn btn-icon btn-test-01" />
        <a href="#" class="btn btn-icon btn-test-01">Save connection and test</a>
    </div>

    <div class="item">
        <input type="submit" id="" value="Save connection and test" class="btn btn-icon btn-test-02" />
        <input type="button" id="" value="Save connection and test" class="btn btn-icon btn-test-02" />
        <a href="#" class="btn btn-icon btn-test-02">Save connection and test</a>
    </div>

    <div class="item">
        <input type="submit" id="" value="Save connection and test" class="btn btn-icon btn-test-03" />
        <input type="button" id="" value="Save connection and test" class="btn btn-icon btn-test-03" />
        <a href="#" class="btn btn-icon btn-test-03">Save connection and test</a>
    </div>
#}

{% macro btn_primary(value='Primary button') -%}
    <input type="button" value="{{ value|e }}" class="btn btn-primary">
{%- endmacro %}