{% macro btn_primary(value='Primary button') -%}
    <input type="button" value="{{ value|e }}" class="btn btn-primary">
{%- endmacro %}

{% macro btn_secondary(value='Secondary button') -%}
    <input type="button" value="{{ value|e }}" class="btn btn-secondary">
{%- endmacro %}

{% macro btn_icon(value='Icon button', status=None) -%}
    <input type="button" value="{{ value|e }}" class="btn btn-icon {% if status %}btn-icon-{{ status }}{% endif %}">
{%- endmacro %}

<div class="item">
    <p>This is a primary button</p>
    {{ btn_primary() }}
</div>

<div class="item">
    <p>This is a secondary button</p>
    {{ btn_secondary() }}
</div>

<div class="item">
    <p>This is a button with an icon</p>
    {{ btn_icon() }}
</div>