
        .btn {
            cursor: pointer;
            background:#0062b5;
            border:1px solid #0044a4;
            color: #fff;
            font-size:12px;
            font-weight:700;
            line-height:32px;
            margin-right:.5rem;
            outline:none;
            padding:0 30px;
            text-align:center;
            vertical-align:middle;
        }

        input.btn {
            height:34px;/* Height to match line-height plus include border */
        }

        a.btn {
            display:block;
            float:left;
            text-decoration:none;
        }

        .btn-secondary {
            background:#ebebeb;
            border-color:#b7b7b7;
            color:#333;
        }

        .btn-icon {
            background:#ebebeb;
            border-color:#b7b7b7;
            color:#222;
            padding:0 42px 0 12px;
        }

        .btn-test-01 {
            background-image: url('/static/images/sprite-200px-grid-100713.png');
            background-position:right -3398px;
            background-repeat:no-repeat;
        }

        .btn-test-02 {
            background-image: url('/static/images/sprite-200px-grid-100713.png');
            background-position:right -3598px;
            background-repeat:no-repeat;
        }

        .btn-test-03 {
            background-image: url('/static/images/sprite-200px-grid-100713.png');
            background-position:right -3798px;
            background-repeat:no-repeat;
        }

        .btn:hover {
            background-color:#004ba2;
            border-color:#00308f;
        }

        .btn-secondary:hover {
            background-color:#e0e0e0;
            border-color:#a2a2a2;
        }

        .btn-icon:hover {
            background-color:#e0e0e0;
            border-color:#a2a2a2;
        }

        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        /* ENHANCEMENTS */

        .btn {
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            border-radius: 1px;
        }