{% import 'atoms/button.html' as buttons %}
{% import 'atoms/input.html' as inputs %}

<form>
    <fieldset>
        <div>
            {{ inputs.label(text='Enter your email address', for='text-1') }}
            {{ inputs.input_text(type='email', placeholder='Email address', id='text-1') }}
        </div>
        <div>
            {{ buttons.btn_primary(value='Submit me') }}
            {{ buttons.btn_secondary(value='Cancel me') }}
            or
            {{ buttons.btn_icon(status='success') }}
        </div>
    </fieldset>
</form>