.highlight {
    overflow-x: scroll;
    position: relative;

    .copy-clipboard {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 3px;
        cursor: pointer;
        border-radius: 3px;
        color: #999;
        cursor: pointer;
        background-color: transparent;
        border: none;

        &.active {
            color: #FFFFFF;
            background: #0062b5;
        }
    }

    pre {
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: #{(10/14)}em;
        background: #f8f8f8;
        font-size: 12px;
        line-height: (16/12);
        font-family: Consolas, "Liberation Mono", Courier, monospace;
    }
}
